@model Matches

@{
    ViewData["Title"] = @Model.TeamHome.Name + " vs " + @Model.TeamAway.Name;
   
}
<input type="hidden" name="" id="matchId" value="@StringCipher.Encrypt(Model.Id)">
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">       
        <div id="matchMain">  
            @if(Model.IsLive??false){
               
                @await Html.PartialAsync("~/Views/shared/_VideoPage.cshtml", Model)
            }else{
                <div class="container">
                   

                    <table style="border: solid 1px #efefef;">
                       
                        <tr>
                            <td width="150px" style="text-align: center;">@Model.TeamHome.Name </td>
                            <td width="50px" style="text-align: center;">VS</td>
                            <td width="150px" style="text-align: center;">@Model.TeamAway.Name</td>
                        </tr>
                        <tr>
                            <td width="150px" style="text-align: center;"><img width="100px" src="/images/@Model.TeamHome.ImageName" alt=""></td>
                            <td width="50px" style="text-align: center;"><p id="atTime"></p></td>
                            <td width="150px" style="text-align: center;"><img width="100px" src="/images/@Model.TeamAway.ImageName" alt=""></td>
                        </tr>
                        
                        <tr>
                            <td style="text-align: center;" colspan="3">Horario</td>
                        </tr>
                        <tr>
                            <td  style="text-align: center;" colspan="3">
                               <div id="eventDate">
                                   @Model.EventDate
                               </div>
                              
                            </td>
                        </tr>                       
                    </table>                   

                
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        @await Html.PartialAsync("~/Views/shared/_Next.cshtml")
        @await Html.PartialAsync("~/Views/shared/_Paypal.cshtml")
    </div>
</div>

@section Scripts
{  
    <script src="~/js/stream.js" type="module" asp-append-version="true"></script>   
    <script src="~/js/next.js" type="module" asp-append-version="true"></script>  
    <script>
        
        document.querySelector('#atTime').innerText = moment('@Model.EventDate.ToString("dd/MM/yyyy HH:mm:ss")', "DD/MM/YYYY hh:mm:ss").calendar()
        var $video  = $('#hls-example'),
        $window = $(window); 

        $(window).resize(function(){
            var height = $window.height();
             let width = $(matchMain).width();             
              $video.css('width', width);
              $video.css('height', width * 0.62);
        }).resize();  
    </script>    
    
}